<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628165506283-9nrogv9sd1iolg0kjic4h8c42df8b0vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628165506283-9nrogv9sd1iolg0kjic4h8c42df8b0vm</string>
	<key>API_KEY</key>
	<string>AIzaSyDIBZZ27zYAXYx3BMr8VBq_8UqSUxpos9A</string>
	<key>GCM_SENDER_ID</key>
	<string>628165506283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aero.rogerwilco.app</string>
	<key>PROJECT_ID</key>
	<string>wilco-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>wilco-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628165506283:ios:14ee7581f94a84ae127aae</string>
</dict>
</plist>