<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404438257634-ptfgv5389kogtauek5ubj5sr4364cr5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404438257634-ptfgv5389kogtauek5ubj5sr4364cr5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDMANVe_yhK_zLP_me4h3CinIKqU1uhY9k</string>
	<key>GCM_SENDER_ID</key>
	<string>404438257634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aero.rogerwilco.app</string>
	<key>PROJECT_ID</key>
	<string>wilco---production</string>
	<key>STORAGE_BUCKET</key>
	<string>wilco---production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404438257634:ios:4e6428172b291dfdfb73bb</string>
</dict>
</plist>